# This workflow will install Python dependencies, run tests and lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test with Pre-commit and Tox

on:
  push:
    paths:
      - '**.py'
      - 'requirements_dev.txt'
  pull_request:
    paths:
      - '**.py'
      - 'requirements_dev.txt'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_test.txt
          pre-commit install-hooks
      - name: Lint with pre-commit
        run: pre-commit run --all-files
      - name: Test with pytest
        run: pytest tests
  